.selectedContainer {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* width: 50%; */
    align-items:center;
    align-content:center;
    justify-content: center;
    /* border: 1px solid red; */

  }
  
  .selectedInfo {
    display: flex;
    flex-direction: column;

    /* flex-grow: 1 1 auto ; */
    align-items:center;
    /* align-content:center; */
    /* border: 1px solid gray; */
    /* justify-content: center; */

  }
  
  .selectedButton {
    padding: 10px 20px;
    background: #00875a;
    color: #fff;
    border: 0;
  }