.contentCss {
    display: flex;
    /* width: 100%; */
    /* justify-content: flex-start; */
    /* align-items: baseline; */
    /* align-content: center; */
  }
  .ListConent{
    /* margin-left: 4px; */
    width: 50%;
    flex: 1 1 auto;
    max-height: 450px;
    overflow-y: scroll;
  }

.SelectedConent{
  width: 50%;
  /* max-width: 50%; */
  /* margin-left: 4px; */ 
  flex: 1 1 auto;
}
  